*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ----------------nav container----------- */
nav{
  background-color: #2EC4B6; ;
}

nav .menu-wrap{
  top:20px;
}

.menu-wrap{
  background-color: black;
  width: 100px;
  line-height: 2;
  position: relative;
  display: inline-block;
  padding: 5px;
  left: 2%;
  box-shadow: 0px 4px 2px  rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.menu-wrap:hover{
  transition: 0.8s;
  background-color: lightsalmon;
  cursor: pointer;
  opacity: 0.8;
}

.menu-wrap:hover .sub-menu{
  display: inline-block;
}

.sub-menu{
  position: absolute;
  display: none;
  padding: 8px;
}


ul li{
  list-style: none;
}

a{
  text-decoration: none;
  color: antiquewhite;
}
a:hover{
  color: brown;
  transition: 0.8s;
}

/* ------------------main section-------------- */

section{
  display: flex;
  background: #2EC4B6;
  width: 100%;
  height: 100vh;
  gap: 100px;
}
/* --------left container------------- */
.con1{
  position: relative;
  top: 205px;
  left: 140px;
  width: 460px;
  height: 275px;
  margin-inline-end: 40px;
}
.small-size{
  display: none;
}

img{
  width: 77.33px;
  height: 80px;
}
/* ----------------form container---------------- */

#con2{
  background-color: white;
  width: 580px;
  height: 500px;
  padding: 25px;
  margin-left: 40px;
  top: 81px;
  left: 720px;
  gap: 0px;
  border-radius: 6px;
  margin-inline-start: 20px;
  box-shadow: 0 2px 4px rgba(146, 142, 142, 0.986);
  }

  .form-group{
    display: flex;
    gap: 20px; 
  }

.Input-group{
  flex: 1;
  width: 238px;
  height: 72px;
  top: 200px;
  left: 760px;
  gap: 0px;
  opacity: 0px;
}

  label{
    display: block;
    font-weight: bold;
    font-size: 16px;
  }

  input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccccccb0;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="submit"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
select:focus {
  border-color: #007BFF;
}

.button-container{
  background-color: #2EC4B6;
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  box-shadow:  0 1px 1px #2ec4bc ;
}

button{
  color: #fff;
  border: none;
  background-color: transparent;
  border: 2px #2ec4b6;
}

footer{
  margin-block-start: 20px;
  text-align: center;
}
 footer span{
  color: #2ec4b6;
 }

/* -----------------------Responsivenes-------------------- */


@media(max-width:1024px){
  section{
    gap: 300px;

  }
  .con1{
    top: 90px;
    width: 200px;
  }
  
  #con2{
    width: 350px;
}
}

@media(max-width:768px){
  section{
    display: flex;
    width: 100%;
    height: 100%;
  }

  .con1{
    top: 20px;
    width: 200px;
    height: 50%;
    margin: 0px;
    
  }

  .big-size{
    display: none;
  }
  .small-size{
    display: block;
  }
  
  #con2{
    padding: 10px;
    width: 500px;
    margin-top: 0;
}
}

@media(max-width:736px){
  section{
    display: grid;
    width: 100%;
  }
div .form-group{
  display: block;
}  

.con1{
  top: 20px;
  width: 200px;
  height: 20%;
  margin: 0px;
}

#con2{
  padding: 10px;
  width: 400px;
  height: 100%;
}

input, select {
  width: 350px;
  padding: 8px;
  border: 1px solid #ccccccb0;
}
}

@media(max-width:425px){
  section{
    gap: 150px;
    display: grid;
  }
div .form-group{
  display: block;
} 

#con2{
  padding: 0px;
  margin-top: 0px;
}
}

@media(max-width:429px){
  section{
    gap: 0;
    display: grid;
    width: 100%;
  }

  #con2{
    padding: 0px;
    margin-top: 0px;
}

div .form-group{
  gap: 0;
  display: block;
  
}  
}
@media(max-width:320px){
  section{
    gap: 1;
    display: grid;
    width: 460px;
  }


div .form-group{
  display: block;
}  
}

