*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  background: #F5F8FA;
  font-family: Arial, Helvetica, sans-serif;
}

section{
  /* max-width: 1140px; */
  margin: 0 auto;
  padding: 2rem;
  width: 50rem;

}

/* -------nav section--------- */
.menu{
  display: flex;
  justify-content: space-between;
  margin-block-end: 3rem;
  padding: 1rem;
}

.logo{
width: 10rem;
height: 2rem;
margin-inline-end: 3rem;
}

nav ul{
  display: flex;
  list-style: none;
  margin-right: 2rem;
  color: #333;
  gap: 7rem;
}

.account-btn {
  padding: 8px 16px;
  border: 1px solid #ccc;
  background: none;
  cursor: pointer;
  border-radius: 0.3rem;
}
/* -------------------container-------------- */
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;

}
.container{
   flex: 2;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
 
  }
  
/* ---------------left container--------------- */
.left-container{
  margin: 1rem;
  gap: 1rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem ;
  width: 100%;
}

.left-container h3{
  margin-block-start: -1rem;
  font-size: 1.5rem;
  text-shadow: 0 0.11rem 0.12rem#000;
  background-color: transparent;
  margin-bottom: 4rem;

}

.form-group {
  margin-bottom: 20px;
  width: 20rem;
  margin-inline-start: -2rem;
  display: flex;
}

.left-container h4 img{
  margin-inline-end: 0.6rem;

}

.left-container h4{
  margin-top: -15px;
  margin-bottom: 20px;
  font-size: 1rem;
  width: 15rem;
}
.user-details{
  display: flex;

 
}


.basic-info h4{
  margin-block-start: -2rem;

}

.basic-info div label input{

}

label {
  flex-direction: column;
  justify-content: center;
  
}
.user-details div{
  gap: 4;

}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-bottom: 10px;
  background-color: #d0cece;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
select:focus {
  border-color: #007BFF;
}
#payment-info{
  margin-inline-start: 5rem;
}
#payment-info .card{
  display: flex;
  margin-inline-end: 0;
  border-right: 0px;
  outline: none;
  
}

label #first-name{
  display: flex;
}

.card-details{
width: 40rem;
}

.btn {
  background-color: #038E7D;
  color: #fff;
  padding: 15px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 90%;
  margin-block-end: 2rem;
}
.btn:hover {
  background-color: #038E7D;
}

.support{
  color: grey;
 
}

.stripe{
  background-color: grey;
  outline: 0;
  border: 0;
  color: #fff;
  padding: 0.3rem;
  border-radius: 0.1rem;
  margin-block-start: 1rem;
  font-size: 0.4rem;
  margin-inline-start: 10rem;
}


/* ------------------right container--------------- */
.right-container{
      background-color:  #0070d2;
      flex: 1;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      line-height: 2;
      max-width: 100%;
      border-radius: 0 1rem 1rem 0;
      max-height: 100%;
      margin: 0;

}

.right-container h3 {
  margin-top: 0px;
}
.right-container ul {
  list-style: none;
  padding: 0;
}
.right-container ul li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}
.right-container ul li img{
  margin-right: 10px;
}
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #666;
}

/* ---------------media responsiveness---------- */
@media (max-width:1290px) {
  .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 0.3rem;
  }
  
  .logo{
    width: 6rem;
    height: 2rem;
    margin-inline-start: 2rem;
    }

    .left-container{
      display: grid;
      margin: 1rem;
      gap: 1rem;
      padding-inline-start: 2rem;
      padding-inline-end: 2rem ;
    }
  
    .right-container{
      background-color:  #0070d2;
      flex: 1;
      color: #fff;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      line-height: 2;
      width: 10rem;

}
}

@media (max-width:1237px) {
  .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 2px;
  }
  
  section{
    margin: 0 auto;
    padding: 2rem;
    width: 40rem;
  
  }
  .left-container{

    width: 60%;
  }

  .right-container{
  
    width: 40%;

}
}

@media (max-width:460px) {
  .menu{
    display: flex;
    align-items: center;
    margin-block-end: 2px;
  }
  
  .main-container{
    display: grid ;
    margin: 0 auto;
    padding: 2rem;
    width: 30rem;
  
  }
  .left-container{
    width: 60%;
  }

  .right-container{
    width: 40%;
}
}







